/* General */
#game {
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-columns: 23rem auto;
    color: white;
}

/* Header */
#game header {
    padding: 0 2rem;
    grid-column: 1/3;
    background-color: #161616;
    color: white;
    display: grid;
    grid-template-columns: 8.5rem auto;
    align-items: center;
}
#game header #right {
    text-align: right;
}
#game header #logo {
    width: 100%;
}

/* Left */
#game #game-left {
    display: grid;
    grid-template-rows: auto 5rem;
    border-right: .5rem solid #242424;
}
#game #game-left #visuals {
    background-color: black;
}
#game #game-left #visuals h2 {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 0 1rem;
}
#game #game-left #visuals img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
#game #game-left #multiplier {
    background-color: #242424;
}
#game #game-left #multiplier h1  {
    text-align: center;
    margin-top: 1.2rem;
}

/* Top Right */
#game #game-right {
    background-color: #1e1e1e;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
#game #game-right #betting {
    text-align: center;
    position: relative;
    top: 30%;
}
#game #game-right #betting #bar {
    color: white;
    background-color: #242424;
    text-align: center;
    padding: 2rem 0;
}
#game #game-right #betting #bar input {
    color: white;
    font-size: 3rem;
    width: 60%;
    height: 3rem;
    background-color: rgba(95, 158, 160, 0);
    outline: none;
    text-align: center;
    border-bottom: .1rem solid white;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
#game #game-right #betting #bar p {
    font-size: 1.25rem;
}
#game #game-right #betting #visible {
    margin-top: 2rem;
    background-color: rgba(95, 158, 160, 0);
    border: .25rem solid white;
    color: white;
    font-size: 2.5rem;
    padding: 1rem 7rem;
    border-radius: .8rem;
}
#game #game-right #betting #visible:hover {
    cursor: pointer;
    background-color: white;
    color: #1e1e1e;
}
#game #game-right #betting #invisible {
    margin-top: 2rem;
    background-color: rgba(95, 158, 160, 0);
    border: .25rem solid rgb(90, 90, 90);
    color: rgb(121, 120, 120);
    font-size: 2.5rem;
    padding: 1rem 7rem;
    border-radius: .8rem;
}

/* Bottom Right */
#game #game-right #etc {
    background-color: #242424;
    display: grid;
    grid-template-rows: 3rem auto;
    align-items: center;
}
#game #game-right #etc #selection {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 5rem 5rem 10rem 6.5rem auto;
    grid-column-gap: 1rem;
    z-index: 10;
}
#game #game-right #etc #selection h2 {
    border-right: .15rem solid white;
}
#game #game-right #etc #selection h2:hover {
    cursor: pointer;
    text-decoration: underline;
}
#game #game-right #etc #etc-parent {
    background-color: #1e1e1e;
    height: 100%;
}
#game #game-right #etc #etc-parent #etc-body {
    padding: 1.5rem 1rem;
}

@media (orientation : portrait) {
    #game #game-right #betting {
        grid-row: 1/2;
    }
    #game #game-right #etc {
        display: none;
    }
}
@media (max-height: 800px) {
    #game #game-right #betting {
        grid-row: 1/2;
    }
    #game #game-right #etc {
        display: none;
    }
}