#error {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    color: white;
}

#error #particles {
    width: 100%;
    height: 69vh;
    position: absolute;
}

#error header {
    background-image: linear-gradient(to bottom, rgb(28, 28, 31), rgba(255, 255, 255, 0));
    width: 100%;
    height: 50vh;
    min-height: 18rem;
    display: flex;
    align-items: center;
}
#error #logo {
    min-width: 20rem;
    max-width: 35rem;
    width: 50%;
    margin: auto;
}

#error h1 {
    font-size: 3rem;
    margin-top: 2rem;
}
#error h2 {
}

#error #content {
    padding-bottom: 10rem;
    display: grid;
    grid-row-gap: 5rem;
}
#error .section-container {
    margin: 0 auto;
    background-color: #1e1e1e;
    width: 90%;
    border-radius: 2rem;
}
#error .section {
    width: 80%;
    max-width: 50rem;
    padding: 3rem 0;
    text-align: left;
    margin-left: 10%;
}
#error .section h3 {
    font-size: 1.8rem;
}
#error .section p {
    font-size: 1.25rem;
    color: #939393;
}

#error #mailing {
    width: 30rem;
    margin: 0 auto;
    padding: 4em 2rem;
    background-color: #1e1e1e;
    border-radius: 1rem;
}
#error #mailing input {
    width: 60%;
    margin-top: 2.5rem;
    background-color: #383838;
    color: white;
    outline: none;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
}
#error #mailing button {
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: background-color .4s;
    font-size: 1.1rem;
    padding: .7rem 2.5rem;
    border: .15rem solid white;
    border-radius: .2rem;
}
#error #mailing button:hover {
    cursor: pointer;
    background-color: white;
    color: #1e1e1e;
    border: .15rem solid white;
}

@media (orientation : portrait) {    
    #error #logo {
        width: 100%;
        padding: 1.5rem;
        min-width: 15rem;
        max-width: 35rem;
    }
    #error #mailing {
        width: 60vw;
    }
}
