#footer {
    background-color: rgba(60, 61, 78, 0.2);
    padding: .5rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    min-height: 4rem;
}
#footer #left {
    margin-left: 2.75rem;
    text-align: left;
}
#footer #right {
    margin-right: 2rem;
    text-align: right;
    display: flex; 
    justify-content: right;
    align-items: center;
}
#footer .app-icon {
    width: 3rem;
    margin-left: 1rem;
    margin-top: .5rem;
}
#footer .app-icon:hover {
    cursor: pointer;
}


@media (orientation : portrait) {    
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #footer #left {
        margin: 0;
        text-align: center;
        font-size: .9rem;
    }
    #footer #right {
        justify-content: center;
        margin: 0;
    }
    #footer .app-icon {
        width: 2.5rem;
        margin: .5rem .8rem;
    }
}
