#home {
    text-align: center;
    min-height: 100vh;
    background-color: #121212;
    color: white;
}

#home #banner {
    width: 100%;
    max-height: 33rem;
    object-fit: cover;
}

#home .section-container {
    background-color: #1e1e1e;
    width: 100%;
}
#home .section {
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem 0;
    max-width: 35rem;
    text-align: left;
}
#home .section h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
#home .section p {
    font-size: 1.25rem;
    color: #939393;
}